{% verbatim %}
<div class="widgets-wrapper">
    <div class="ng-grid grid-stack">
        <ng-widget class="grid-stack-item" ng-repeat="widget in board.widgets" widget="widget"></ng-widget>
    </div>
</div>
{% endverbatim %}