security:
    encoders:
        Teckboard\Teckboard\CoreBundle\Entity\User:
            algorithm:        sha1
            encode_as_base64: false
            iterations:       1


    providers:
        boards:
            entity: { class: TeckboardCoreBundle:User, property: name }

    access_control:
        - { path: ^/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/, roles: ROLE_USER }

    firewalls:
        dashboards_area:
            pattern:    ^/
            anonymous: ~
            form_login:
                require_previous_session: false


