{% block contentHeader %}
    {% verbatim %}
        <section class="content-header">
            <h1>
                <img src="{{ page.picture }}" class="img-circle" alt="User Image" />
                {{ page.title }}
                <small>{{ page.subTitle }}</small>
            </h1>
        </section>
    {% endverbatim %}
{% endblock %}