{% block contentHeader %}
    {% verbatim %}
        <section class="content-header">
            <h1>
                <img src="{{ page.picture }}" class="user-image" alt="User Image" />
                {{ page.title }}
                <small>{{ page.subTitle }}</small>
            </h1>
             {#<ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>#}
        </section>
    {% endverbatim %}
{% endblock %}