{% block sideBar %}
<aside class="main-sidebar" ng-controller="mainSideBarCtrl">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" ng-tree-list>
        <ul class="sidebar-menu">
            <li class="header">DASHBOARDS</li>
            <li ng-account-list class="treeview sidebar-menu-account" account="me"></li>

            <li ng-account-list
                class="treeview sidebar-menu-account"
                ng-repeat="organization in me.organizations"
                account="organization">
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
{% endblock %}