ng-widget .box-body {
  padding: 0;
}
ng-widget .grid-stack-item-content {
  position: relative;
}
ng-widget .grid-stack-item-content .box-body {
  position: absolute;
  top: 47px;
  bottom: 5px;
  left: 0px;
  right: 0px;
}
ng-widget .grid-stack-item-content iframe {
  width: 100%;
  height: 100%;
  border: none;
}
ng-widget .error {
  display: none;
  padding: 0 10px;
}
ng-widget.ui-draggable-dragging .grid-stack-item-content iframe,
ng-widget.ui-resizable-resizing .grid-stack-item-content iframe {
  display: none;
}
