ng-widget .box-body {
  padding: 0;
  height: 100%;
}
ng-widget iframe {
  overflow: visible;
  width: 100%;
  border: none;
}
ng-widget.ui-resizable-resizing .grid-stack-item-content {
  display: none;
}
