.content-header {
  text-transform: capitalize;
}
.content-header .img-circle {
  width: 50px;
  height: 50px;
}

body.loading {
  height: 100%;
  overflow: hidden;
}
body.loading > .loader-wrapper {
  background-color: #3c8dbc !important;
}
body.loading > .loader-wrapper .sk-spinner-wave div {
  background-color: #ffffff;
}
.ng-loader {
  position: relative;
}
.loader-wrapper {
  display: none;
}
.loading > .loader-wrapper {
  display: block !important;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2000;
}
.loading > .loader-wrapper .loader-area {
  -moz-user-select: none;
  bottom: 45%;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 43%;
  width: 60px;
}
.loading > .loader-wrapper .sk-spinner-wave div {
  background-color: #3c8dbc;
}

.sidebar-menu li.sidebar-menu-account .sidebar-menu-account-header {
  padding: 16px 5px 16px 60px;
  position: relative;
}
.sidebar-menu li.sidebar-menu-account .sidebar-menu-account-header .image {
  position: absolute;
  top: 6px;
  left: 10px;
}
.sidebar-menu li.sidebar-menu-account .sidebar-menu-account-header .image img {
  width: 40px;
  height: 40px;
}

ng-widget .box-body {
  padding: 0;
}
ng-widget .grid-stack-item-content {
  position: relative;
}
ng-widget .grid-stack-item-content .box-body {
  position: absolute;
  top: 47px;
  bottom: 5px;
  left: 0px;
  right: 0px;
}
ng-widget .grid-stack-item-content iframe {
  width: 100%;
  height: 100%;
  border: none;
}
ng-widget .error {
  display: none;
  padding: 0 10px;
}
ng-widget.ui-draggable-dragging .grid-stack-item-content iframe,
ng-widget.ui-resizable-resizing .grid-stack-item-content iframe {
  display: none;
}
