{% extends "TeckboardWebBundle::Layout/layout.html.twig" %}

{% block content %}
    <!-- Content Header (Page header) -->
    {% include "TeckboardWebBundle::Parcial/content-header.html.twig" %}
    <!-- Main content -->
    <section class="content" ng-view></section>

{% endblock %}