{% verbatim %}

<div class="box box-primary grid-stack-item-content">
    <div class="box-header with-border grid-stack-item-header">
        <h3 class="box-title">{{ widget.name }}</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <iframe class="widget-content-iframe" ng-src="{{ widget.url | trusted }}" ng-iframe>
        </iframe>
    </div><!-- /.box-body -->
</div>
{% endverbatim %}