{% verbatim %}

<div class="box box-primary grid-stack-item-content">
    <div class="box-header with-border grid-stack-item-header">
        <h3 class="box-title">{{ widget.name }}{{ loading }}</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool refresh">
                <i class="fa fa-refresh"></i>
            </button>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body ng-loader" ng-class="{'loading': loading}">
        <div class="error">Chargement impossible</div>
        <iframe class="widget-content-iframe" ng-src="{{ widget.url | trusted }}">
        </iframe>
    </div><!-- /.box-body -->
</div>
{% endverbatim %}